extends layout

block content 
    main
        h1.home_title Comprar cosas
        article.productlist
            each product in products
                    div.product
                        a(href=`/product/${product.title}`) 
                            img(src=product.picture, alt="", srcset="")
                            p.title= product.title
                            p.price= product.price + '€'
                        form.addform(action="/cart/addToCart" method="post")
                            input(type="number" name="quantity" value="1" min="1" max="9" autocomplete="off")
                            input(type="hidden" name="product_id" value=`${product.id}`)
                            button.btn.btn-primary(type="submit")
                                | <i class="fas fa-shopping-cart"></i> Add to cart